<div class="row">
    <div class="panel panel-default" id="Bylaws">
        <div class="panel panel-heading">
            <h2 align="center">Bylaws</h2>
        </div>
        <p align="center">
            Epes Randolph Lodge No. 32, F. & A.M.
        </p>


        <h1>
            Article I : Name and Officers
        </h1>
        <p>
            Section 1. This Lodge shall be known by the name of Epes Randolph Lodge No.
            32 of Free and Accepted Masons, and its officers shall consist of a Master, Senior Warden,
            Junior Warden, Treasurer, Secretary, Senior Deacon, Junior Deacon, Senior Steward, Junior Steward,
            Chaplain, Marshal, Tyler, and such other appointed officers as the Lodge may deem appropriate to appoint.
            (Trustees are addressed in Article XVI, infra).
        </p>

        <h1>
            Article II : Elections and Appointments
        </h1>
        <p>
            Section 1. The Master, with the Senior Warden, Junior Warden, the Treasurer, the Secretary,
            and the Trustees shall be elected by ballot in conformity with the Constitution of the Grand Lodge of Arizona.
            The other officers shall be appointed by the Master.
        </p>
        <p>
            Section 2. Election of officers and trustees shall occur at the November Stated Communication.
            The Master-elect shall announce his appointments at this meeting.

        </p>

        <h1>
            Article III : Meetings of the Lodge
        </h1>
        <p>
            Section 1. The Stated meeting of this Lodge shall be held on the second Wednesday of each month at 7:30 pm.
        </p>
        <p>
            Section 2. Special meetings may be called from time to time as the presiding officer may direct.
        </p>

        <h1>
            Article IV : Initiation and Membership
        </h1>
        <p>
            Section 1. All petitions for initiation and affiliations shall be in writing,
            signed by the petitioner and shall be recommended by at least one (1) member of this Lodge and one
            (1) member of any other lodge operating under the jurisdiction of the Grand Lodge of Arizona in the form
            prescribed by the Grand Lodge. Every such petition or application shall be referred to a committee
            appointed by the presiding officer of not less than three (3) members of the Lodge.
            The Chairman of this Committee shall report therein to the Master before the next stated meeting unless
            further time be requested by the Committee and granted by the Master.
            The applicant shall only be balloted on when the Master receives a favorable report from the Committee.
            If the report of the Committee, or any member thereof shall be unfavorable, no ballot shall be taken,
            and the Master shall upon the request of such a report declare the petitioner rejected.
        </p>
        <p>
            Section 2. If an applicant elected to receive the degrees in the Lodge,
            does not present himself for the degree conferral (initiation) within six (6)
            months thereafter, the fee shall be forfeited, unless the Lodge shall otherwise direct.
        </p>
        <p>
            Section 3. A copy of the Lodge By-Laws shall be presented to the initiate upon receiving
            his Entered Apprentice Degree or to a member elected by affiliation.
            Every Brother raised to the degree of Master Mason in this Lodge,
            except when such degree have been conferred at the request of another lodge,
            or a member who is elected by affiliation, shall sign its By-Laws.
        </p>

        <h1>
            Article V : Master
        </h1>
        <p>
            Section 1. The Master shall have the power to congregate his Lodge whenever he shall deem it proper,
            to discharge all the elective functions of his office, to perform all such other acts,
            by ancient usage proper to the office, as shall not be in contravention of any provision
            of the Constitution or Regulations of the Grand Lodge.
        </p>
        <p>
            Section 2. It shall be his duty to preside over all meetings of his Lodge,
            to confer all degrees in strict accordance with the ritual which has been or may be hereafter adopted by the Grand Lodge,
            to give or provide for the delivery of the Lecturers  appertaining to each degree at the time it is conferred,
            in accordance with such ritual, to permit a Master Mason who has never held an office in the Lodge,
            or any officer of the Lodge, to confer any of the degrees or give any part of the Lecturers,
            provided the Master or one of the Wardens is present.
        </p>
        <p>
            Section 3. From the decisions of the Master there shall be no appeal to the Lodge;
            but objections to such decisions may be laid before the Grand Master and by him dealt with
            in the manner prescribed by the Grand Lodge Constitution.
        </p>
        <p>
            Section 4. The Master shall perform such other duties as referred to in the Grand Lodge Constitution.
        </p>

        <h1>
            Article VI : Wardens
        </h1>
        <p>
            Section 1. It shall be the duty of the Wardens to assist the Master in the performance of his duties,
            to serve as a voting member on the Board of Trustees, and to discharge all those duties which ancient
            usage has assigned to their respective stations.
        </p>
        <p>
            Section 2. In the absence of the Master, the Senior Warden (and in his absence also, the Junior Warden)
            shall succeed to and be charged with all the powers and duties of the Master.
        </p>

        <h1>
            Article VII : Treasurer
        </h1>
        <p>
            Section 1. The Treasurer shall receive all monies or records of deposit of Lodge accounts from the Secretary,
            shall keep an accurate and just account thereof, and shall pay the same out only upon an order duly signed by
            the Master and countersigned by the Secretary, and with the consent of the Lodge, except as authorized by these
            By-Laws.
        </p>
        <p>
            Section 2. He shall at the Stated meeting in February of each year, submit a report of the receipts,
            disbursements, and monetary transactions of the Lodge for the preceding calendar year.
            The Lodge or any member may also at any time when considered necessary, cause him to present an account of
            his receipts and disbursements, and the amount of funds on hand.
        </p>
        <p>
            Section 3. The Treasurer will be guided by the financial policies set forth by the Lodge Trustees.
        </p>
        <p>
            Section 4. The Treasurer shall be responsible for the distribution of the Lodge Scholarship account.
        </p>

        <h1>
            Article VIII : Secretary
        </h1>
        <p>
            Section 1. The Secretary shall keep a faithful record of all proceedings proper to be written;
            shall transmit a copy of the same to the Grand Lodge when required;
            shall keep a separate account for each member of the Lodge and shall report at the Stated meeting
            in November the amounts due by each. He shall receive all monies due the Lodge and pay the same,
            or provide a record of deposit monthly to the Treasurer, and shall perform all such other duties as
            may properly appertain to his office.
        </p>
        <p>
            Section 2. He shall mail an official dues notice, independent of any Lodge newsletter or trestle-board
            to every dues paying member of the Lodge no later than November 1st of each calendar year for the ensuing year.
        </p>
        <p>
            Section 3. He shall receive such compensation for his services as the Lodge may direct.
        </p>

        <h1>
            Article IX : Tyler
        </h1>
        <p>
            Section 1. The Tyler, in addition to the necessary duties of his office,
            shall serve all notices and summonses and perform such other services as may be required of him by the Lodge.
        </p>
        <p>
            Section 2. He shall receive such compensation for his service as the Lodge may direct.
        </p>

        <h1>
            Article X : Fees
        </h1>
        <p>
            Section 1. The initiation fee for this Lodge shall be as follows:
            <ul>
                <li>
                    The initiation fee for this Lodge shall be $175.00 for the three degrees,
                    or $150.00 for the degrees of Master Mason and Fellowcraft when the first degree
                    shall have been received in another lodge, or $125.00 for the degree of Master Mason
                    when the first and second degree shall have been received in another lodge,
                    and any fees required by Grand Lodge.
                </li>
                <li>
                    No affiliation fee shall be assessed if affiliating from a recognized lodge within Arizona.
                    If from a lodge outside this jurisdiction the fee shall be as established by the Grand Lodge.
                    If not affiliated with any lodge for more than six (6) months, the applicant for affiliation shall
                    apply as above and attach the equivalent of six (6) months dues to the petition for affiliation.
                </li>
            </ul>
        </p>
        <p>
            Section 2. The above sums will accompany the Petition for the Degrees,
            or the Application for Affiliation, when presented by the applicant.
        </p>

        <h1>
            Article XI : Dues
        </h1>
        <p>
            Section 1. The annual dues of each member of this Lodge shall be equal to the Grand Lodge per
            capita plus thirty (30) dollars effective January 1, 2008, thirty-five (35) dollars effective January 1, 2009,
            forty (40) dollars effective January 1, 2010; forty-five (45) dollars effective January 1, 2011 and fifty (50)
            dollars effective 2012, payable in advance, on or before January 1st of each calendar year.
        </p>
        <p>
            Section 2. No member, who shall be in arrears for the dues at the time of the annual election,
            shall be permitted to vote, or shall be eligible to any office, appointment or Trustees,
            and it shall be the duty of the Secretary to read in open Lodge before balloting is commenced,
            the names of all delinquent members.
        </p>
        <p>
            Section 3. In case any members shall have refused or neglected to pay his regular
            dues during the period of six (6) months, he shall be notified by the Secretary that,
            unless at the September Stated meeting either his dues be paid or sickness or inability to maybe shown
            as the cause of such refusal or neglect, he will be suspended from all rights and privileges of Masonry.
            If neither of the aforementioned be accomplished, he shall at the September Stated meeting be declared by
            the Master to be suspended; unless due cause for special reasons is shown,
            the Lodge shall remit his dues or grant the member further time for payment.
        </p>
        <p>
            Section 4.  Should any member suspended for nonpayment of dues neglect to pay said dues for the period of one
            (1) year or have the same remitted by his Lodge, said member may be restored to good standing as provided in
            Section 86 of the Grand Lodge Constitution.
        </p>
        <p>
            Section 5. Any member in good standing may withdraw from membership by notifying
            the Lodge to that effect at a Stated meeting.
        </p>
        <p>
            Section 6. Perpetual Membership may be purchased by any member of this Lodge who is good
            standing and whose dues are paid in full to date, by depositing with the Secretary
            an amount equaling fifteen (15) times the annual dues of the Lodge.
            Upon payment of the required amount a Certificate of Perpetual Membership
            shall be issued by the Grand Secretary and thereafter, the Secretary of the Lodge
            shall annually issue a current dues card to said perpetual member.
        </p>
        <p>
            Section 7. Establishment of a Perpetual Membership by a member of this Lodge shall
            hereafter exempt said member from payment of annual dues, except any special levy by Grand Lodge,
            and such name shall hereafter be published on the Lodge's membership roster.
        </p>
        <p>
            Section 8. Memorial Perpetual Membership may be purchased in the name of a deceased
            Brother who was a member in good standing in any Arizona lodge by depositing with the
            Secretary a sum of not less than seven and one-half (7 1/2) times the annual dues of the Lodge.
            Such monies shall be transferred to the Grand Secretary for inclusion in the Perpetual Membership
            fund and thereafter managed as such.
        </p>

        <h1>
            Article XII : Lodge Benefit Plan for Perpetual Membership
        </h1>
        <p>
            Section 1. This Lodge shall offer any member in good standing an optional payment plan for
            obtaining a Perpetual Membership in the Lodge. The member may elect one of the following plans:
            <ul>
                <li>
                    Payment in full as defined in Article XI, 6, above.
                </li>
                <li>
                    Payment of 60% of the total Perpetual Membership fee, with the Lodge contribution the remaining 40%.
                </li>
                <li>
                    Payment of a minimum of twenty (20) percent of the total
                    Perpetual Membership fee plus the current annual dues for four consecutive years and a
                    final payment of the total balance due.
                </li>
            </ul>
        </p>
        <p>
            Section 2. The Lodge shall maintain a separate accounting of these funds and upon
            payment of the final installment, remit the appropriate funds to the Grand Lodge for
            issuance of a Perpetual Membership.
        </p>
        <p>
            Section 3. The member may pay his Perpetual Membership up in full at any time during this optional plan.
            No funds shall be reimbursed should the plan not be completed without due cause and vote of the Lodge.
        </p>

        <h1>Article XIII : Committees</h1>
        <p>
            Section 1. The Master, Senior or Junior Warden (as the Lodge Charity Committee) shall have power to draw
            upon the Treasury for any sum, not exceeding two hundred (200) dollars at any one time, for the relief of
            a distressed worthy Brother, his wife, sister or orphan. If more than two hundred (200) dollars is required
            to ameliorate an emergency,  the Master or Wardens, with approval of a majority of a quorum of the Trustees,
            may draw upon the Treasury for a sum up to five hundred (500) dollars. Every warrant so drawn by the Master
            shall be reported to the Lodge at its next Stated meeting and entered upon the minutes thereof.
        </p>
        <p>
            Section 2. The Master, at the Stated meeting next succeeding his installation, shall appoint an Auditing
            Committee of no less than three (3) members, whose duty it shall be to audit (financial review) the financial
            records of the Lodge and report it findings to the Master and Trustees.
        </p>
        <p>
            Section 3. The Budget Committee shall consist of the Senior Warden (Chair), the Junior Warden, Senior Deacon,
            Treasurer and one (1) Past master. The Budget Committee will prepare a budget for the following calendar year
            and present the proposal to the Lodge for ratification at the November Stated meeting.
        </p>
        <p>
            Section 4. The Master shall appoint such other committees as he shall deem necessary, or as ordered by the Lodge.
        </p>
        <p>
            Section 5. All reports of Committees shall be made in writing at the request of the Master.
        </p>

        <h1>Article XIV : Transactions of the Lodge</h1>
        <p>
            Section 1. When a petition for initiation or affiliation is rejected or a Brother is reprimanded,
            suspended or expelled, no member nor any visitor shall reveal, either directly or indirectly to such
            person or to any other, any transaction which may take place on the subject; nor shall any proceeding of the Lodge,
            not proper to be made public, be discussed outside thereof, under penalty of reprimand, suspension or expulsion
            as the Lodge may determine.
        </p>
        <p>
            Section 2. Article XIV, Section 1, above, shall be read in open Lodge whenever an applicant is rejected for membership.
        </p>

        <h1>Article XV : Grand Lodge</h1>
        <p>
            Section 1. Attendance at the Annual Communication of the Grand Lodge
            shall have expenses reimbursed within the following guidelines:
            <ul>
                <li>Registration fee (only) for all elected and appointed Lodge officers registered for attendance at the Grand Lodge Annual Communication.</li>
                <li>
                    Up to one-half (1/2) the total cost of a double room rate for each of the following:
                    <ul>
                        <li>Master</li>
                        <li>Senior Warden</li>
                        <li>Junior Warden</li>
                        <li>Secretary</li>
                    </ul>
                </li>
                <li>Registration fee and all Grand Lodge meal functions for the above, Section 1b.</li>
            </ul>
        </p>
        <p>
            Section 2. Actual reimbursement for authorized expenses are based upon full registration and
            attendance during a Grand Lodge annual communication unless otherwise authorized by vote of the Lodge membership.
        </p>
        <p>
            Section 3. This Lodge shall pay the registration fee plus any meal expenses for the Master,
            Senior Warden, Junior Warden, Senior Deacon and Secretary to attend the annual Grand Lodge Education
            Committee workshop, unless attendance is in conjunction with attendance at the Annual Communication of Grand Lodge.
        </p>

        <h1>Article XVI : Trustees</h1>
        <p>
            Section 1. There shall be seven (7) Trustees for this Lodge.
            The Master, Senior Warden and Junior Warden and the Treasurer shall be a Trustee of this Lodge
            by virtue of the office held.
        </p>
        <p>
            Section 2. In addition to the above officers serving as Trustees,
            the Lodge shall elect at their annual election of officers three (3)
            additional Trustees who shall serve a three (3) year term on a staggered basis.
        </p>
        <p>
            Section 3. The Master shall chair the Board of Trustees, and the Trustees shall
            elect a Secretary from the Board membership. A quorum for the Board of Trustees is defined as five (5) or more.
        </p>
        <p>
            Section 4. It shall be the duty of the Board of Trustees to hold an annual
            organizational meeting immediately following the election of officers and Trustees
            in November, but not later than the next scheduled installation of officers.
            The Board of Trustees shall meet at least semi-annually, and at other times at the will
            and pleasure of the Master, or by a quorum of its members.
        </p>
        <p>
            Section 5. The Board of Trustees assume their office immediately upon election and
            is not contingent upon the installation of officers of the Lodge.
            A special election shall be called by the Master of the Lodge to fill vacancies on the Board.
        </p>
        <p>
            Section 6. The Trustees shall preserve the property of the Lodge and transact
            all business relating to the investment and disposal thereof, pursuant to and
            in conformity with the rules and regulations of the Grand Lodge.
            The Trustees may manage, purchase, lease, hold, convey, mortgage,
            and improve the property of the Lodge; and, as Trustees, may sue and be sued in all
            matters pertaining to such property and to claims, demands, and liabilities and to
            such other acts as legally authorized by the laws of the State of Arizona and the Constitution and By-Laws,
            rules and regulations of the Grand Lodge.
        </p>
        <p>
            Section 7. All real and personal property that shall have been conveyed by devise,
            gift, grant, purchase, or otherwise by the Lodge, or to any persons or Trustees for
            the use thereof, shall vest in such Trustees or their successors in trust for the Lodge in the manner aforesaid.
        </p>
        <p>
            Section 8. The Trustees as a body are the Lodge fiduciaries for all Lodge property.
            They will cause an audit to be made of such property and an inventory, updated annually,
            which shall be filed with the Lodge. The Board of Trustees shall have charge of the operation
            and maintenance of all property of the Lodge, and shall have the power to employ help as may be
            necessary in the operation of the same, and may fix all salaries of such employees, and such salaries
            and other monies expended by the Board of Trustees as hereafter provided shall be paid by the Treasurer
            in accordance with the provisions of these By-Laws.
        </p>
        <p>
            Section 9. The Trustees will formulate policy in writing to provide guidance with respect
            to the financial quality, size and investments of the Lodge reserves and investments.
            The Board shall have the power to expend funds for necessary improvements and repairs in
            and about the property of the Lodge, without action of the Lodge, not exceeding the sum of one-thousand
            (!,000) dollars in any one transaction. The Board also has the duty to establish the amount of rent to be
            paid by any organization for the use of the Lodge property facilities and to formulate rules governing the
            use of the same.
        </p>

        <h1>Article XVII : Order of Business</h1>
        <p>
            Section 1. The regular order of business of this Lodge shall be as follows,
            after the ritualistic opening on the appropriate degree:
            <ul>
                <li>Flag ceremony or Pledge of Allegiance, if not given before the master declares the Lodge open.</li>
                <li>Introduction of distinguished guests and/or first time visitors.</li>
                <li>Reading of Minutes of previous meeting(s).</li>
                <li>Correspondence and Communications.</li>
                <li>Reports of Committees.</li>
                <li>Hearing of Proficiencies or Proficiency Reports.</li>
                <li>Reception and reading of petitions for membership.</li>
                <li>Balloting.</li>
                <li>Reading of disbursements and bills.</li>
                <li>Unfinished business.</li>
                <li>New Business.</li>
                <li>Good of the Order (Announcements)</li>
            </ul>
        </p>

        <h1>Article XVIII : Amendments</h1>
        <p>
            Section 1. These By-laws may be amended at any Stated meeting, or by a special meeting called for this purpose,
            by vote of two-thirds (2/3) of the members present, provided that written notice of such amendments shall have been
            given at the Stated meeting next preceding, or thirty (30) days prior to any called special meeting; but such amendments
            shall have no effect until approved by the Grand Lodge or Grand Master and until such approval shall have been transmitted
            by the Grand Secretary. The Secretary of the Lodge shall note in the minutes of the Lodge the notice of proposed amendments
            when made and when transmitting amendments for approval, shall attached a certificate, under seal, showing that the law had been
            complied with and that the amendments have received the requisite vote.
        </p>

        <h1>Article XVIII : Control</h1>
        <p>
            Section 1. Nothing in these By-Laws shall be construed as divesting the Lodge of complete control of its property,
            business affairs, and all officers of the Lodge shall, in all things, be subservient to the Lodge and shall conduct their
            several offices in accordance with the provisions of the Grand Lodge Constitution, its Regulations, and the ancient usages
            of Freemasonry.
        </p>
    </div>
</div>