@{
    ViewData["Title"] = "Lodge";
}

<div class="row">
    <div align="center" class="panel panel-default">
        <div class="panel panel-heading">
            <h2>Welcome to Epes Randolph Lodge #32!</h2>
        </div>
        <p>
            We are located at 3959 E. Mabel St. in Tucson, Arizona.
            Our Stated Meeting is the second Wednesday of the month, at 7:30.
            We have dinners at 6:30. We almost always do something every Wednesday,
            so please look at our calendar below and see what we have going on!
        </p>
    </div>
    <div align="center">
        <div class="col col-md-6">
            <div class="panel panel-default">
                <h2>Events Calendar</h2>
                <iframe src="https://calendar.google.com/calendar/embed?src=epesrandolph32%40gmail.com&ctz=America/Phoenix" style="border: 0" width="500" height="300" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="panel panel-default" id="History">
                <h3>History</h3>
                <p align="justify">
                    <b>The Man:</b> Epes Randolph was born on August 16, 1856 in Lunenburg County, VA.
                    He was a notable civil engineer of his time, constructing railroads and spearheading an effort to restore the Colorado River to its banks.
                    He oversaw the construction of monuments like the C&O Railroad Bridge and eventually wound up as President of the
                    Los Angeles Railway, Southern Pacific Railroad of Mexico, Arizona Eastern Railway and more. He served on the University of Arizona Board of Regents,
                    and was a prominent member of the Elks and an honorary 33rd Degree Scottish Rite Mason. He passed away on August 22, 1921, just after turning 65.
                </p>

                <p align="justify">
                    <b>The Lodge:</b> Our Lodge was the second Masonic Lodge organized in Tucson, Arizona. Its charter is dated February 14, 1923.
                    This Lodge and its members played an important rile in the early history of Tucson, with many early city pioneers and leaders serving as
                    Master of the Lodge or in other leadership roles.Over the years, the Lodge has flourished and Marion McDaniel Lodge building,
                    located at 3959 E Mabel Street, became our home. Current Lodge membership is nearly 250 individuals and the Lodge is very active in social, educational, and philanthropic programs.
                    Notably, out Child ID program is one of the few active ones for Lodges in the whole state!
                <p>

                <p align="justify">
                    We publish a monthly newsletter called "The Crier" which provides messages from Lodge leadership,
                    as well as current information on our activities and a monthly calendar of events.
                    We are working on adding this to our website, and we would be happy to send you one upon request!
                    If you have any questions, please email us at epesrandolph32@gmail.com.
                </p>

                <p align="justify">
                    Epes Randolph Lodge No. 32 is a duly registered 501©(10) non-profit organization on file with the IRS.
                    As such, any donations, bequests, gifts, or other monetary contributions provided for charitable purpose
                    (other than dues) is 100% tax deducatble. The Lodge maintains a separate account for all charitable contributions
                    and all the money is only used for charitable purposes
                </p>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class=" panel panel-default">
        <div class="panel panel-heading">
            <h1 align="center">CHIP Program</h1>
        </div>
        <p align="center" id="CHIPs">
            Arizona Child Identification Program addresses the alarming fact that over 1,000,000 children are reported missing in the United States each year, according to the National Center for Missing and Exploited Children (NCMEC). On average, a child is reported missing every 43 seconds.
            At the CHIP events, the Masons of Epes Randolph provide the equipment, volunteers and materials necessary to identifying your child in "completed packs" (not kits to be filled out by you at home) for you to take home for safe keeping. In the event your child is missing, you then provide the AZCHIP package to law enforcement as an aid in recovery and identification.
            No information nor data is retained by anyone involved with the CHIP program. Only the permission slip is retained to document the number of children served. No copies of any ID materials are kept on file by any of the organizations.
            Epes Randolph Lodge, part of the Arizona Freemasons, is proud to bring the families of our state this wonderful program for the protection of all our children.
        </p>

    </div>
    <div class="panel panel-body">
        <h1 align="center">What is CHIP?</h1>
        <p>Arizona Child Identification Program addresses the alarming fact that more children are reported missing each year. While most are found, many are not. All of the identification materials generated by the program are given to the child's family. We retain none of the information offered by this program. This CHIP program is offered to the public at NO CHARGE.</p>
    </div>
</div>