<div class="row">
    <div align="center" class="panel panel-default">
        <div class="panel panel-heading">
            <h2>Lodge Officers</h2>
        </div>
        <p>
            The current officers of the lodge!
        </p>

        <div class="container-fluid">
            <div class="col-md-4" align="center">
                <img src="~/Content/images/OfficerPics/2017-12-13 (8).JPG" height="206px" width="auto" />
                <h5><b>Worshipful Master:</b>Rufus Tamayo</h5>
                <p>Email: werterrific@gmail.com</p>
                <p>Phone: (909) 287-6255</p>
            </div>
            <div class="col-md-4" align="center">
                <img src="~/Content/images/OfficerPics/Kenny Lewis pic 1-11 2016 010.jpg" width="206px" height="206px" />
                <h5><b>Senior Warden:</b>Kenny Lewis</h5>
                <p>Email: Lewiskenneth91@gmail.com</p>
                <p>Phone: (520) 349-0709</p>
            </div>
            <div class="col-md-4" align="center">
                <img src="~/Content/images/OfficerPics/Officers 2015-1 - Copy.JPG" width="275px" height="206px" />
                <h5><b>Junior Warden:</b>Jim Nicewander</h5>
                <p>Email: jimnice@gmail.com</p>
                <p>Phone: (520) 730-2617</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-4" align="center">
                <img src="~/Content/images/OfficerPics/2017-3-8 002 Stan Meister.JPG" width="275px" height="206px" />
                <h5><b>Secretary:</b>Stan Meister</h5>
                <p>Email: epes.secretary@yahoo.com</p>
                <p>Phone: (773) 259-9328</p>
            </div>
            <div class="col-md-4" align="center">
                <img src="~/Content/images/OfficerPics/Brian Pilz.jpg April 2016.JPG" width="275px" height="206px" />
                <h5><b>Treasurer:</b>Brian Pilz</h5>
                <p>Email: Shroom60@aol.com</p>
                <p>Phone: (520) 235-9138</p>
            </div>
            <div class="col-md-4" align="center">
                <img src="~/Content/images/OfficerPics/Officers 2015-3.JPG" width="275px" height="206px" />
                <h5><b>Senior Deacon:</b>Mike Garland</h5>
                <p>Email: mikeoif02@gmail.com</p>
                <p>Phone: (520) 780-8227</p>
            </div>
            <div class="container-fluid">
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/Officers 2015-2.JPG" width="275px" height="206px" />
                    <h5><b>Junior Deacon:</b>Matt Palmer</h5>
                    <p>Email: mattpalmer066@gmail.com</p>
                    <p>Phone: (520) 425-9177</p>
                </div>
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/2017-3-8 007  Jesse Hill photo.JPG" width="275px" height="206px" />
                    <h5><b>Senior Steward:</b>Jessee Hill</h5>
                    <p>Email: jesseahill@email.arizona.edu </p>
                    <p>Phone: (520) 440-0042</p>
                </div>
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/2017-3-8 004 Zach Makler.JPG" width="275px" height="206px" />
                    <h5><b>Junior Steward:</b>Zach Mackler</h5>
                    <p>Email: drgnwzrd1121@gmail.com</p>
                    <p>Phone: (520) 904-8001</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/2017-12-13 (6).JPG" height="206" width="auto" />
                    <h5><b>Marshal:</b>Alphonso Paige</h5>
                    <p>Email: N/A</p>
                    <p>Phone: N/A</p>
                </div>
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/2017-12-13 (9).JPG" height="206" width="auto" />
                    <h5><b>Chaplain:</b>Steve Majuta</h5>
                    <p>Email: steven_majuta@yahoo.com</p>
                    <p>Phone: (520) 275-6898</p>
                </div>
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/1-11 2016 013  Gabby Martinez.JPG" width="275px" height="206px" />
                    <h5><b>Tyler:</b>Gabby Martinez</h5>
                    <p>Email: Gabsteraz@aol.com</p>
                    <p>Phone: (520) 349-0709</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-4" align="center">
                    <img src="~/Content/images/OfficerPics/2017-12-13 (2).JPG" height="206" width="auto" />
                    <h5><b>Organist:</b>Rogers Hornsby</h5>
                    <p>Email: N/A</p>
                    <p>Phone: N/A</p>
                </div>
            </div>
        </div>
    </div>
</div>